body {
    background-color: lightcoral;
    font-family: Verdana;
}
h1 {
    color: darkblue;
    text-align: center;
}
p {
    color: brown;
    font-size: 18px;
}
button {
    background-color: purple;
    color: white;
    padding: 10px;
}